Agente_de_Marketing_n8n_v4.json
{
  "name": "Agente de Marketing",
  "nodes": [
    {
      "id": "4712ffdb-2993-4f67-ba61-46a72abcc42e",
      "name": "Cada dia a las 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9
            }
          ]
        }
      }
    },
    {
      "id": "8ffe79c6-1681-40aa-b1c6-58d30333a7ce",
      "name": "Leer calendario editorial",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        300
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "Calendario_Editorial",
          "mode": "name"
        },
        "sheetName": {
          "__rl": true,
          "value": "Calendario",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "estado",
              "lookupValue": "Planificado"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b168f3b2-d640-43e3-a585-bf393b739999",
      "name": "Hay contenido pendiente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "74034c88-e58e-45d7-879f-f2d1b213b608",
              "leftValue": "={{ $json.fecha_publicacion }}",
              "rightValue": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "7e1e1d2c-3bdc-4638-8ffd-9473138812b0",
      "name": "Preparar contenido",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c86bdf2-f638-49fb-8b59-dcd9d04534e8",
              "name": "id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "5b038753-b37e-4a8c-8ed3-7f5d0f6c1cc9",
              "name": "tema",
              "type": "string",
              "value": "={{ $json.tema }}"
            },
            {
              "id": "535cf55c-8ba8-4160-81ab-4945bef8f03b",
              "name": "pilar",
              "type": "string",
              "value": "={{ $json.pilar }}"
            },
            {
              "id": "b2d0a997-447c-4a8d-928c-4fd68f3ac6ca",
              "name": "canal",
              "type": "string",
              "value": "={{ $json.canal }}"
            },
            {
              "id": "4288af36-5443-45f0-a2ca-4c9e9a5795db",
              "name": "formato",
              "type": "string",
              "value": "={{ $json.formato }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "51df4c9e-ad67-4902-ab42-51794c944ae8",
      "name": "Agente de Marketing",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        880,
        200
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Contenido a crear:\nTema: {{ $json.tema }}\nPilar: {{ $json.pilar }}\nCanal: {{ $json.canal }}\nFormato: {{ $json.formato }}",
        "options": {
          "systemMessage": "Eres el Agente de Marketing de Nubia, agencia de IA y automatizacion para pymes. Mision de Nubia: liberar a las pymes de las tareas repetitivas. Propuesta de valor: automatizacion de procesos con IA sin necesidad de equipo tecnico propio. Tono de marca: profesional pero cercano, didactico y orientado a resultados. Recibes un contenido planificado del calendario editorial (tema, pilar, canal y formato). Tu trabajo: 1) Usa la busqueda web para encontrar datos, tendencias o ejemplos recientes que aporten valor al tema. 2) Consulta la herramienta de contenidos publicados para NO repetir enfoques ni titulares ya usados. 3) Redacta el contenido final adaptado al canal y formato indicados (longitud y estilo apropiados: post de LinkedIn, hilo, articulo de blog, newsletter...). Responde UNICAMENTE con un JSON valido, sin markdown: {\"titular\": string, \"contenido\": string, \"hashtags\": string, \"fuentes\": string}"
        }
      }
    },
    {
      "id": "90fe90ee-8003-45ef-9394-48b80f2db810",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        420
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {
          "temperature": 0.7
        }
      }
    },
    {
      "id": "61fef1c5-1383-4bab-a340-fd3bddb742e1",
      "name": "Buscar tendencias (web)",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        960,
        420
      ],
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "dd61d807-aada-48bc-8baa-86c1990cac74",
      "name": "Contenidos publicados",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1120,
        420
      ],
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Lee el calendario editorial de Nubia para consultar titulares y temas ya publicados y evitar repeticiones.",
        "documentId": {
          "__rl": true,
          "value": "Calendario_Editorial",
          "mode": "name"
        },
        "sheetName": {
          "__rl": true,
          "value": "Calendario",
          "mode": "name"
        }
      }
    },
    {
      "id": "2596d0d7-3484-473c-b8f7-2788ebec8801",
      "name": "Parsear contenido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        200
      ],
      "parameters": {
        "jsCode": "const out = JSON.parse($json.output.replace(/```json|```/g, '').trim());\nreturn [{ json: { ...$('Preparar contenido').item.json, ...out } }];"
      }
    },
    {
      "id": "730081ed-f2e0-488c-aaa8-fedc841d2f67",
      "name": "Aprobar contenido (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1360,
        200
      ],
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#nubia-marketing",
          "mode": "name"
        },
        "message": "=:memo: Contenido para {{ $json.canal }} ({{ $json.formato }})\n*{{ $json.titular }}*\n\n{{ $json.contenido }}\n\n{{ $json.hashtags }}\n\nAprobar publicacion?",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      }
    },
    {
      "id": "c1191181-d66e-4ecc-b2cd-eab6a02892ca",
      "name": "Aprobado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1580,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3c7d4597-b3ee-47f8-a8d0-99b51d818abc",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "eeaca637-a637-4824-9757-f591fe7fcb6b",
      "name": "Marcar como publicado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1800,
        100
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "Calendario_Editorial",
          "mode": "name"
        },
        "sheetName": {
          "__rl": true,
          "value": "Calendario",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Preparar contenido').item.json.id }}",
            "estado": "Publicado",
            "titular": "={{ $('Parsear contenido').item.json.titular }}",
            "contenido_final": "={{ $('Parsear contenido').item.json.contenido }}",
            "fecha_real": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      }
    },
    {
      "id": "b4cd4382-2ae5-411f-baf9-ac6c075ba673",
      "name": "Marcar como rechazado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1800,
        320
      ],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "Calendario_Editorial",
          "mode": "name"
        },
        "sheetName": {
          "__rl": true,
          "value": "Calendario",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Preparar contenido').item.json.id }}",
            "estado": "Rechazado"
          },
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Cada dia a las 9:00": {
      "main": [
        [
          {
            "node": "Leer calendario editorial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer calendario editorial": {
      "main": [
        [
          {
            "node": "Hay contenido pendiente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay contenido pendiente?": {
      "main": [
        [
          {
            "node": "Preparar contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar contenido": {
      "main": [
        [
          {
            "node": "Agente de Marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Marketing": {
      "main": [
        [
          {
            "node": "Parsear contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear contenido": {
      "main": [
        [
          {
            "node": "Aprobar contenido (Slack)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprobar contenido (Slack)": {
      "main": [
        [
          {
            "node": "Aprobado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprobado?": {
      "main": [
        [
          {
            "node": "Marcar como publicado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar como rechazado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Marketing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Buscar tendencias (web)": {
      "ai_tool": [
        [
          {
            "node": "Agente de Marketing",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contenidos publicados": {
      "ai_tool": [
        [
          {
            "node": "Agente de Marketing",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Nubia"
    },
    {
      "name": "Marketing"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}